# add user
$Password = ConvertTo-SecureString {{ ansible_password }} -AsPlainText -Force
New-LocalUser -Name "{{ ansible_user }}" -Description "Ansible Service Account" -Password $Password
Add-LocalGroupMember -Group "Administrators" -Member "{{ ansible_user }}"

Rename-Computer -NewName {{ aws_vm_name }} -Force -Restart